<!-- <div class="container" ng-controller="BlogController">

<div ng-repeat="blog in blogData">
<button ng-show="blog.status=='A'" data-target="#{{blog.blogId}}" class="btn btn-info" data-toggle="collapse">{{blog.blogName}}</button>
<button ng-show="blog.status=='A'" class="btn btn-info" ng-click="incLike(blog.blogId)">{{blog.likes}}&nbsp;Like</button>
<button ng-show="blog.status=='A'" class="btn btn-info" ng-click="incDisLike(blog.blogId)">{{blog.dislikes}}&nbsp;Dislike</button>
<button ng-show="blog.status=='A' && currentUser!=undefined" class="btn btn-info" ng-click="comment(blog)">Comment</button>
	<div ng-show="blog.status=='A'" id="{{blog.blogId}}" class="collapse">
	{{blog.blogContent}}
	</div>
</div>
</div>
  -->

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
h1 {
    text-shadow: 3px 3px #06AA1B;
    text-align: center;
}
</style>
<body>


<div class="w3-content" style="max-width:1500px">

  <h1>Show Blog</h1>
  <div class="w3-row">
    <div class="w3-half">
      <img src="images/img1.PNG" style="width:100%">
      <img src="images/img2.PNG" style="width:100%">
      
    </div>

    <div class="w3-half">
      <img src="images/img3.PNG" style="width:100%">
      <img src="images/img4.PNG" style="width:100%">
    </div>
  </div>
  

</div>

<br/><br/>


<div class="container" ng-controller="BlogController">

<div ng-repeat="blog in blogData">
<button ng-show="blog.status=='A'" data-target="#{{blog.blogId}}" class="btn btn-info" data-toggle="collapse">{{blog.blogName}}</button>
<button ng-show="blog.status=='A'" class="btn btn-info" ng-click="incLike(blog.blogId)">{{blog.likes}}&nbsp;Like</button>
<button ng-show="blog.status=='A'" class="btn btn-info" ng-click="incDisLike(blog.blogId)">{{blog.dislikes}}&nbsp;Dislike</button>
<button ng-show="blog.status=='A' && currentUser!=undefined" class="btn btn-info" ng-click="comment(blog)">Comment</button>
	<div ng-show="blog.status=='A'" id="{{blog.blogId}}" class="collapse">
	{{blog.blogContent}}
	</div>
</div>
</div>
 
</body>
</html>
