<div class="container" ng-controller="ForumController">

<div ng-repeat="forum in forumData">
<button data-target="#{{forum.forumId}}" class="btn btn-info" data-toggle="collapse">{{forum.forumName}}</button>
	
<button class="btn btn-info" ng-show="forum.status=='NA'" ng-click="approveForums(forum.forumId)">APPROVE FORUM</button>	
	
<button class="btn btn-danger" ng-show="forum.status=='A'" ng-click="rejectForums(forum.forumId)">REJECT FORUM</button>		
	
	<div id="{{forum.forumId}}" class="collapse">
	{{forum.forumContent}}
	</div>
</div>
</div>