<div class="container" ng-controller="ForumController">

<button data-target="#{{forumInfo.forumId}}" class="btn btn-info" data-toggle="collapse">{{forumInfo.forumName}}</button>
	
<div id="{{forumInfo.forumId}}" class="collapse">
	{{forumInfo.forumContent}}
</div>

<div ng-repeat="forumComment in forumCommentData">

<div>{{forumComment.discussionText}}-{{forumComment.loginname}}-{{forumComment.discussionDate}}</div>
</div>

<div>
	Comment<textarea ng-model="forumComment.discussionText"></textarea>
	<button ng-click="insertForumComment()">Comment</button>
</div>
</div> 


