<!-- <div class="container" ng-controller="ForumController">
<div ng-repeat="forum in forumData">
<button ng-show="forum.status=='A'" data-target="#{{forum.forumId}}" class="btn btn-info" data-toggle="collapse">{{forum.forumName}}</button>
<button ng-show="forum.status=='A' && currentUser!=undefined" class="btn btn-info" ng-click="forumComment(forum)">Forum Comment</button>
	<div ng-show="forum.status=='A'" id="{{forum.forumId}}" class="collapse">
	{{forum.forumContent}}
	</div>
</div>
</div> -->


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
h1 {
    text-shadow: 3px 3px #06AA1B;
    text-align: center;
}
</style>
<body>


<div class="w3-content" style="max-width:1500px">

  <h1>Show Forum</h1>
  <div class="w3-row">
    <div class="w3-half">
      <img src="images/forum.png" style="width:100%">
      <img src="images/f1.PNG" style="width:100%">
      
    </div>

    <div class="w3-half">
      <img src="images/f2.PNG" style="width:100%">
    </div>
  </div>
  

</div>

<br/><br/>


<div class="container" ng-controller="ForumController">
<div ng-repeat="forum in forumData">
<button ng-show="forum.status=='A'" data-target="#{{forum.forumId}}" class="btn btn-info" data-toggle="collapse">{{forum.forumName}}</button>
<button ng-show="forum.status=='A' && currentUser!=undefined" class="btn btn-info" ng-click="forumComment(forum)">Forum Comment</button>
	<div ng-show="forum.status=='A'" id="{{forum.forumId}}" class="collapse">
	{{forum.forumContent}}
	</div>
</div>
</div>


</body>
</html>
